[submodule "contracts/lib/starkex-contracts"]
	path = contracts/lib/starkex-contracts
	url = https://github.com/starkware-libs/starkex-contracts.git
[submodule "vendor/stark-evm-adapter"]
	path = vendor/stark-evm-adapter
	url = https://github.com/zksecurity/stark-evm-adapter.git
